<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 달의 일기</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
      body {
    font-family: 'Jua', sans-serif;
  }
    </style>

  <!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
           🌕
            달의 일기
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            메뉴
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="index.html">일기 모음</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" aria-current="page" href="Dairy.html">일기 쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="about.html">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="contact.html">달 추적</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="login.html">로그아웃</a>
                </li>
            </ul>
        </div>
       </div>
    </nav>
    <Br>
    <br>
  <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="/static/img/hero.jpg">
    <form class="d-flex tm-search-form">
      <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success tm-search-btn" type="submit">
        🔍
      </button>
    </form>
  </div>

  <br>
  <br>

        <div class="row tm-mb-74 tm-row-1640">            
            <div class="col-lg-5 col-md-6 col-12 mb-3">
                <img src="/static/img/about.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <div class="tm-about-img-text">
                    <p class="mb-4">




                    <!DOCTYPE html>
                    <html lang="ko">
          
                      <head>
                        <meta charset="UTF-8">
                        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <title>달의 일기 소개</title>
                      </head>

                      <body>

                        <p>안녕하세요! 저희는 달의 일기 개발팀입니다. 우리의 비전은 감정을 품은 일기를 더 나은 사용자 경험으로 이끄는 것입니다. 자연어처리(NLP) 기술을 활용하여 사용자의 감정을 정확히
                          이해하고, 감정 분석 결과를 시각적으로 표현하는 동시에 음악 추천으로 특별한 경험을 선사합니다.</p>
          
                        <p>일기 작성자의 감정을 효과적으로 표현하기 위해 달 모양으로 변하는 이모지를 도입했습니다. 이로써 사용자는 감정 분석 결과를 한눈에 파악하고, 달의 모양이 변하는 것처럼 일기의 감정도
                          그림으로 나타낼 수 있습니다.</p>
          
                        <p>또한, 음악 추천 알고리즘을 통해 사용자의 기분에 따라 다양한 음악을 소개합니다. 이를 통해 감정적인 표현에 더해 심리치료와 치유의 효과를 높이는 서비스를 제공합니다.</p>
          
                        <p>우리의 서비스는 사용자들의 일상에서 정서적 안정과 편안함을 책임집니다. 달의 일기는 사용자의 감정을 중심으로 한 혁신적인 서비스로, 여러 분야에서 적용 가능한 기술과 기능을 제공합니다.
                          함께 더 풍요로운 일상을 만들어가요! 🌙💫</p>
          
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p>더 자세한 설명은 아래를 참고하세요 👇</p>
                        <br>

                        <style>
                          .image-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                          }
                        
                          .image-container img {
                            margin-bottom: 20px; /* 이미지 사이에 여백을 추가할 수 있습니다. */
                          }
                        </style>
                        
                        
          
          
                        <div class="image-container d-flex flex-column align-items-center">
                          <img src="/static/img/1.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                          <img src="/static/img/2.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                          <img src="/static/img/3.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                          <img src="/static/img/4.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                          <img src="/static/img/4.5.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                          <img src="/static/img/5.jpg" alt="Image" class="mb-4 img-fluid align-self-center">
                        </div>
                                  
                        <br>
                        <br>
                        <p>개발자 소개 및 정보 👇</p>
                        <br>
    
                      </body>
                    </html>

                  </div>
                </div>
              </div>
              <div class="row tm-mb-74 tm-people-row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                  <img src="/static/img/people-1.jpg" alt="Image" class="mb-4 img-fluid">
                  <h2 class="tm-text-primary mb-4">하이든</h2>
                  <h3 class="tm-text-secondary h5 mb-4">프론트엔드 / 백엔드 </h3>
                  <p class="mb-4">
                    안녕하세요. 인제대학교 AI빅데이터학부에 재학 중인 하이든입니다.
                    감정적이고 느낌있는 달 일기장을 만들고 싶어서 이번 프로젝트에 참가하게 되었습니다!
          
                  </p>
                  <ul class="tm-social pl-0 mb-0">
                    <li>school : Inje University</li>
                    <li>number : 010-****-****</li>
                    <li>email : 5version@naver.com</li>
                  </ul>
                </div>
                

                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                  <img src="/static/img/people-2.jpg" alt="Image" class="mb-4 img-fluid">
                  <h2 class="tm-text-primary mb-4">전예람</h2>
                  <h3 class="tm-text-secondary h5 mb-4">프론트엔드 / 백엔드</h3>
                  <p class="mb-4">
                    안녕하세요. 인제대학교 AI빅데이터학부에 재학중인 전예람이라고 합니다.
                    감정적이고 느낌있는 달 일기장을 만들고 싶어서 이번 프로젝트에 참가하게 되었습니다!
                  </p>
                  <ul class="tm-social pl-0 mb-0">
                    <li>school : Inje University</li>
                    <li>number : 010-****-****</li>
                    <li>email : hi9581@naver.com</li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                  <img src="/static/img/people-3.jpg" alt="Image" class="mb-4 img-fluid">
                  <h2 class="tm-text-primary mb-4">남승현</h2>
                  <h3 class="tm-text-secondary h5 mb-4">프론트엔드 / 백엔드</h3>
                  <p class="mb-4">
                    안녕하세요. 인제대학교 AI빅데이터학부에 재학중인 남승현이라고 합니다.
                    감정적이고 느낌있는 달 일기장을 만들고 싶어서 이번 프로젝트에 참가하게 되었습니다!
                  </p>
                  <ul class="tm-social pl-0 mb-0">
                    <li>school : Inje University</li>
                    <li>number : 010-4857-1567</li>
                    <li>email : happyMoon@naver.com</li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
                  <img src="/static/img/people-4.jpg" alt="Image" class="mb-4 img-fluid">
                  <h2 class="tm-text-primary mb-4">하미키</h2>
                  <h3 class="tm-text-secondary h5 mb-4">귀여움 / 앙칼짐 / 매력둥</h3>
                  <p class="mb-4">
                    하이 ! 나 누구?! 미키 ~~ 내가 최고고 세상에서 내가 젤 귀여워!
                    그러니 다들 내 깜찍함을 숭배해라 !
                  </p>
                  <ul class="tm-social pl-0 mb-0">
                    <li>Home : 하이든씨 집</li>
                    <li>number : secret</li>
                    <li>email : love&cute@naver.com</li>
                  </ul>
                </div>
              </div>
            </div> <!-- container-fluid, tm-container-content -->
</body>
</html>
                
    
    <script src="/static/js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</body>
</html>