<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 달의 일기</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
      body {
    font-family: 'Jua', sans-serif;
  }
    </style>

  <!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
           🌕
            달의 일기
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            메뉴
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="index.html">일기 모음</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" aria-current="page" href="Dairy.html">일기 쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="about.html">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="contact.html">달 추적</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="login.html">로그아웃</a>
                </li>
            </ul>
        </div>
       </div>
    </nav>
    <Br>
    <br>
  <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="/static/img/hero.jpg">
    <form class="d-flex tm-search-form">
      <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success tm-search-btn" type="submit">
        🔍
      </button>
    </form>
  </div>

  <br>
  <br>


  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="text-center">
      <h2 class="col-12 tm-text-primary">제목 : 박물관 나들이</h2>
    </div>
    <div class="row tm-mb-90">
      <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
        <br>
        <br>

        <div class="text-center">
          <img src="/static/img/museum.jpg" alt="Image" class="img-fluid mx-auto" width="500px">
        </div>
        <!-- <img src="img/hate.jpg" alt="Image" class="img-fluid" width="500px">
        <br> -->
        <br>
        <br>
      </div>
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="tm-bg-gray tm-video-details">
          <p class="mb-4">
            오늘은 정말 호기심이 가득한 하루였다. 나는 새로운 것을 배우고, 새로운 경험을 할 수 있었기 때문이다.

            오늘은 박물관에 다녀왔다. 나는 박물관에서 다양한 전시물을 보며 많은 것을 배울 수 있었다.
            나는 선사 시대의 유물부터 현대의 예술 작품까지 다양한 전시물을 감상했다. 나는 전시물을 보면서 과거와 현재, 그리고 미래에 대해 생각해보았다.

            특히, 나는 고대 이집트 전시물이 정말 인상적이었다. 나는 고대 이집트의 문화와 역사에 대해 배울 수 있었고, 고대 이집트의 신비로운 매력에 푹 빠졌다.

            나는 박물관에서 많은 것을 배울 수 있어서 정말 즐거웠다. 나는 앞으로도 박물관을 자주 방문해서 새로운 것을 배우고 싶다.

            저녁에는 도서관에 다녀왔다. 나는 도서관에서 다양한 책을 읽으며 새로운 경험을 할 수 있었다.

            나는 소설, 역사, 과학, 철학 등 다양한 장르의 책을 읽었다. 나는 책을 읽으면서 새로운 세상을 경험할 수 있었고, 나의 생각을 확장할 수 있었다.

            특히, 나는 과학책을 읽으며 우주에 대해 많은 것을 배울 수 있었다. 나는 우주의 신비와 아름다움에 감탄하며, 우주에 대해 더 알고 싶어졌다.

            나는 도서관에서 새로운 경험을 할 수 있어서 정말 즐거웠다. 나는 앞으로도 도서관을 자주 방문해서 새로운 것을 경험하고 싶다.

            오늘 하루는 정말 호기심이 가득한 하루였다. 나는 새로운 것을 배우고, 새로운 경험을 할 수 있어서 정말 행복했다. 나는 앞으로도 호기심을 가지고 살아가고 싶다.
          </p>
          <div class="text-center mb-5">
            <a href="#" class="btn btn-primary tm-btn-big">일기 저장 📝 ✅</a>
          </div>
          <div class="mb-4 d-flex flex-wrap">
            <div class="mr-4 mb-2">
              <span class="tm-text-gray-dark">감정: </span><span class="tm-text-primary">미움</span>
            </div>
            <div class="mr-4 mb-2">
              <span class="tm-text-gray-dark">달의 일기: </span><span class="tm-text-primary">JPG(감정분석 달 사진)</span>
            </div>
            <div class="mb-4">
              <h3 class="tm-text-gray-dark mb-3">영화/음악 추천</h3>
              <p>🎶노래🎶</p>
            </div>

          </div>
          <div>
            <h3 class="tm-text-gray-dark mb-3">감정 태그</h3>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">호기심</a>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">박물관</a>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">경험</a>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">새로운</a>
            <!-- <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
            <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mb-4">
      <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
        Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored"
          target="_parent">TemplateMo</a>
      </div>
    </div> -->
  </div>
  </footer>

  <script src="/static/js/plugins.js"></script>
  <script>
    $(window).on("load", function () {
      $('body').addClass('loaded');
    });
  </script>
</body>

</html>