<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 달의 일기</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
      body {
    font-family: 'Jua', sans-serif;
  }
    </style>


  <!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
           🌕
            달의 일기
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            메뉴
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 " aria-current="page" href="index.html">일기 모음</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2" aria-current="page" href="Dairy.html">일기 쓰기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="about.html">소개</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="contact.html">달 추적</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="login.html">로그아웃</a>
                </li>
            </ul>
        </div>
       </div>
    </nav>
    <Br>
    <br>
  <div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="/static/hero.jpg">
    <form class="d-flex tm-search-form">
      <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">

      <button class="btn btn-outline-success tm-search-btn" type="submit">
        🔍
      </button>
    </form>
  </div>

  <br>
  <br>


  <div class="container-fluid tm-container-content tm-mt-60">
    <div class="text-center">
      <h2 class="col-12 tm-text-primary">제목 : 달달한 데이트</h2>
    </div>
        <br>
        <br>

        <div class="text-center">
          <img src="/static/img/date.jpg" alt="Image" class="img-fluid mx-auto" style="display: block; margin: 0 auto;">
        </div>
        <!-- <img src="img/hate.jpg" alt="Image" class="img-fluid" width="500px">
                <br> -->
        <br>
        <br>
        <div class="tm-bg-gray tm-video-details" style="width: 700px;">
          
          <p class="mb-4">
            오늘은 정말 애틋한 하루였다. 내가 사랑하는 사람과 함께 시간을 보낼 수 있었기 때문이다.

            오늘은 아침 일찍부터 집을 나섰다. 나는 사랑하는 사람과 함께 여행을 떠날 예정이었다.

            우리는 함께 차를 타고 여행을 떠났다. 우리는 차 안에서 많은 이야기를 나누며 즐거운 시간을 보냈다.

            여행지에는 도착해서, 우리는 아름다운 자연을 감상하며 시간을 보냈다. 우리는 함께 산책을 하고, 바다를 보며, 맛있는 음식을 먹었다.

            여행을 하는 동안, 나는 사랑하는 사람에 대한 애틋함을 느꼈다. 나는 사랑하는 사람과 함께 있어 정말 행복하다는 생각을 했다.

            저녁에 집으로 돌아와서, 우리는 함께 저녁 식사를 했다. 우리는 저녁 식사를 하면서, 여행에서 있었던 일들을 이야기했다.

            저녁 식사를 마치고, 우리는 함께 영화를 보았다. 우리는 영화를 보면서, 서로를 꼭 껴안았다.

          </p>
          <div class="text-center mb-5">
            <a href="#" class="btn btn-primary tm-btn-big">일기 수정 📝 ✅</a>
          </div>
          <div class="mb-4 d-flex flex-wrap">
            <h3 class="tm-text-gray-dark mb-3">인공지능 자연어처리 기술</h3>


            <div class="mr-4 mb-2">
              <span class="tm-text-gray-dark">
                달의 일기에서는 💫 AI 자연어처리 기술을 통해 감정분석, 텍스트 요약, 달 이모티콘, 질의 응답 및 음악 추천 기능 ✨ 을 제공하고 있습니다.
                
                AI 감정 분석 기술을 사용해 당신의 일기 텍스트를 분석해 보았어요! 당신의 감정은 : 애틋함 🌟 </span><span class="tm-text-primary"></span>
            </div>

            <div>
                <h3 class="tm-text-gray-dark mb-3">텍스트 요약</h3>
                <p>
                    💫 달의 일기에서 제공하는 AI 텍스트 요약 기술입니다. 오늘 당신의 일기를 한번 더 음미해볼까요? 🌟✨
    텍스트 요약 내용 
    
    오늘은 사랑하는 이와 함께한 특별한 여행 날이었다. 
    아침 일찍 집을 나와 차를 타고 여행지로 향했다. 
    차 안에서는 즐거운 대화와 함께 특별한 시간을 보냈다. 
    여행지에서는 자연을 즐기며 산책하고 바다를 감상하며 맛있는 음식을 즐겼다.
    </p>
                <!-- <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Timelapse</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Night</a>
                <a href="#" class="tm-text-primary mr-4 mb-2 d-inline-block">Real Estate</a> -->
              </div>


            <div class="mr-4 mb-2">
              <span class="tm-text-gray-dark"> 
                
                
                당신의 일기를 기반으로 오늘의 기분을 달 이모티콘으로 표현해봤어요.
                가장 기분이 안 좋은 날은 🌑, 
                기분이 조금 안 좋은 날은 🌒,
                그저 그런 날은 🌓, 
                기분이 좋은 날은 🌔,
                가장 기분이 좋은 날은 환한 보름달 🌕로 표시됩니다

                오늘 당신의 기분은 : 🌕



              </span><span class="tm-text-primary"></span>
            </div>
            <div class="mb-4">
              <br>
              <h3 class="tm-text-gray-dark mb-3">영화/음악 추천</h3>
              <p>
                 🎶 그대에게 - 신해철<br>
                🎶 보랏빛 향기 - 와블<br>
                🎶 봄날 - BTS <br>
                🎶 사랑인가요(Perhaps Love) - 에릭남<Br>
                🎶 Lover - Taylor Swift<Br>
                  <br>
                  <p> ♪ 당신의 무드😎에 맞는 더 많은 음악이 듣고 싶다면 : </p>
                  <button onclick="redirectToSpotify()"> Spotify로 이동</button>

                  <script>
                      function redirectToSpotify() {
                          window.location.href = "https://www.spotify.com/kr-ko/premium/";
                      }
                  </script>
                

              </p>
            </div>

          </div>
    
        </div>
      </div>
    </div>
    <!-- <div class="row mb-4">
      <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
        Designed by <a href="https://templatemo.com" class="tm-text-gray" rel="sponsored"
          target="_parent">TemplateMo</a>
      </div>
    </div> -->
  </div>
  </footer>

  <script src="/static/js/plugins.js"></script>
  <script>
    $(window).on("load", function () {
      $('body').addClass('loaded');
    });
  </script>
</body>

</html>